In [1]:
import torch
import cv2
import os
import pandas as pd

In [ ]:
# !pip install -r https://raw.githubusercontent.com/ultralytics/yolov5/master/requirements.txt

In [2]:
folder_path = os.path.abspath('./tif_files')

def load_names(folder_path):
    all_files = os.listdir(folder_path)
    file_id = []
    for i, name in enumerate(all_files):
        test_file_name = name[:-4]
        file_id.append(test_file_name)
    return file_id

file_id = load_names(folder_path)

In [3]:
challenge_img = []
for i, name in enumerate(file_id):
    file_path = os.path.join(folder_path, name+'.tif')
    img = cv2.imread(file_path, 0)
    challenge_img.append(img)

In [4]:
model = torch.hub.load('ultralytics/yolov5', 'custom', path='best.pt')

Using cache found in C:\Users\HZU/.cache\torch\hub\ultralytics_yolov5_master
YOLOv5  2021-10-20 torch 1.9.0+cpu CPU

Fusing layers...
Model Summary: 213 layers, 7015519 parameters, 0 gradients, 15.8 GFLOPs
Adding AutoShape...

In [30]:
all_data = pd.DataFrame()

In [31]:
for i in range(len(challenge_img)):

    results = model(challenge_img[i])

    if len(results.pandas().xyxy[0]) > 0:
        temp_all_data = pd.DataFrame()
        temp_all_data = results.pandas().xyxy[0]
        temp_all_data['Id'] = file_id[i]
    #     temp_all_data['Id'] = file_id[i]
        all_data = all_data.append(temp_all_data, ignore_index=True)
    else:
        empty_data = pd.DataFrame([[0,0,0,0,0,100]],columns = ['xmin', 'ymin', 'xmax', 'ymax', 'confidence', 'class'])
        empty_data['Id'] = file_id[i]
        all_data = all_data.append(empty_data, ignore_index=True)

    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250

In [32]:
all_data

,xmin,ymin,xmax,ymax,confidence,class,name,Id
0,611.826599,768.278198,978.290222,850.802795,0.764464,0,signatures,0148e4778e6d8b22a8980bf4fc89351b_12
1,0.000000,0.000000,0.000000,0.000000,0.000000,100,NaN,0148e4778e6d8b22a8980bf4fc89351b_25
2,0.000000,0.000000,0.000000,0.000000,0.000000,100,NaN,0148e4778e6d8b22a8980bf4fc89351b_30
3,0.000000,0.000000,0.000000,0.000000,0.000000,100,NaN,0148e4778e6d8b22a8980bf4fc89351b_37
4,1920.293213,81.403732,2226.035889,213.680054,0.782889,1,logo,0171cd73c7bdbf48ccfd0c21804f9ced_1
...,...,...,...,...,...,...,...,...
420,520.928406,42.443878,591.492065,120.896790,0.892033,1,logo,f95151d46ab46fe856074feb728f4190
421,660.694824,1118.681763,875.208984,1176.067993,0.826572,0,signatures,f95151d46ab46fe856074feb728f4190
422,1249.989746,2461.095215,1807.372070,2619.909668,0.915004,0,signatures,fd40cbeac18b5764fbd2f8d1d52e5640
423,1052.859741,136.897232,1469.320923,355.721436,0.842769,1,logo,fd40cbeac18b5764fbd2f8d1d52e5640
424,0.000000,0.000000,0.000000,0.000000,0.000000,100,NaN,fef37ea5a0c4dd7978a4a433fa3a31ce_2

In [33]:
all_data.to_csv('all_classes.csv', index=False)

In [34]:
results = all_data.drop(columns=['xmin', 'ymin', 'xmax', 'ymax', 'confidence'])

In [35]:
results

     class        name                                   Id
0        0  signatures  0148e4778e6d8b22a8980bf4fc89351b_12
1      100         NaN  0148e4778e6d8b22a8980bf4fc89351b_25
2      100         NaN  0148e4778e6d8b22a8980bf4fc89351b_30
3      100         NaN  0148e4778e6d8b22a8980bf4fc89351b_37
4        1        logo   0171cd73c7bdbf48ccfd0c21804f9ced_1
..     ...         ...                                  ...
420      1        logo     f95151d46ab46fe856074feb728f4190
421      0  signatures     f95151d46ab46fe856074feb728f4190
422      0  signatures     fd40cbeac18b5764fbd2f8d1d52e5640
423      1        logo     fd40cbeac18b5764fbd2f8d1d52e5640
424    100         NaN   fef37ea5a0c4dd7978a4a433fa3a31ce_2

[425 rows x 3 columns]

In [37]:
import numpy as np
results['prediction'] = np.where(results['class']==0, 1, 0)

In [39]:
results = results.drop(columns = ['class', 'name'])

In [41]:
results = results.drop_duplicates(subset=['Id'])

In [43]:
results.to_csv('prediction.csv', index=False)

In [18]:
temp_all_data

[[611.8265991210938,
  768.2781982421875,
  978.2902221679688,
  850.8027954101562,
  0.7644636631011963,
  0,
  'signatures']]

In [ ]:
temp_all_data = pd.DataFrame()

In [ ]:
temp_all_data = results.pandas().xyxy[0]

In [ ]:
temp_all_data['file'] = 'file_1'

In [ ]:
all_data = all_data.append(temp_all_data, ignore_index=True)

In [ ]:
test

In [ ]:
predictions = []
for i in range(len(challenge_img)):
    results = model(challenge_img[i])

In [ ]:
results.print()

In [ ]:
results.show()

In [ ]:
results

In [ ]:
results.pandas().xyxy[0]

In [ ]:
results.pandas().xyxy[0].values.tolist()